<div class="layout">
	<div class="register">
		<table>
			<tr>
				<td>
					<div class="register_left">
						<h1>Edit Info</h1>
						<%= render 'form' %>
					</div>
				</td>
				<td>
					<div class="register_right">
						<div>
							<p id="note">Don't forget what you input!</p>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
