// Place all the styles related to the Management controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.management {

	.project_operation {
		display: none;
	}

	.project_menu_btn {
		width: 15px;
		height: 15px;
		background-color: #E0E0E0;
		border-radius: 2px;
	}

	.padding_count {
		border-radius: 5px;
		background-color: #EE5C42;
		color: white;
		width: 20px;
		display: block;
		text-align: center;
	}

	.project_menu_btn:hover {
		width: 20px;
		height: 20px;
	}

	.add_project {
		margin-top: 20px;

		.project_add_text_field {
			input {
				width: 100px;
				border: 1px solid #DCDCDC;
				padding: 7px;
				border-radius: 5px;
				//background-color: #FFFACD;
			}
		}

		.project_add_submit {
			input {
				border: 1px solid #53868B;
				background-color: #4D4D4D;
				padding: 7px;
				width: 80px;
				border-radius: 5px;
				color: white;
			}
		}
	}

	.tp {
		display:none;
	}

	.layout {
		margin-left: auto;
		margin-right: auto;

		width: 900px;


		border-width: 2px;
		border-radius: 2px;
		border-color: #D3D3D3;

		.btn_div {
			width: 80px;
			background-color: #D3D3D3;
			padding: 3px;
		}

		

		.left {
			width: 210px;
			//border-width: 1px;
			//border-color: #CFCFCF;
			//border-style: solid;

			a {
				text-decoration: none;
			}
			a:hover {
				background: none;	
				color: black;
			}


			
		}

		.right {
			//padding: 10px;
			width: 680px;
			//border-width: 1px;
			//border-color: #CFCFCF;
			//border-style: solid;

			.task_list {

				margin-left: 25px;
			}

			.finisehd_task_list {

				margin-left: 25px;
			}
		}

	}
}
