// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions {
	.layout {
		margin-left: auto;
		margin-right: auto;

		width: 900px;

		padding: 10px;

		border-width: 2px;
		border-radius: 2px;
		border-color: #D3D3D3;



		.input_filed {

			color: gray;

			input {
				margin-top: 2px;
				margin-bottom: 7px;
				padding: 7px;
				width: 200px;

				border: 2px solid gray;
				//box-shadow: 0 0 10px gray;

				border-radius: 5px;

				&:focus {
					box-shadow: 0 0 10px #7D9EC0;
					border: 2px solid #7D9EC0;
					background-color: #FFFACD;
				}
			}
			

		}

		.btn_field {

			input {
				margin-top: 10px;
				padding: 7px;
				width: 80px;

				border: none;
				background-color: gray;
				color: white;
				border-radius: 5px;
			}

		}


		h1 {
			color: gray;
		}


		.login_right {
			width: 200px;
			margin-left: 50px;
			padding-left: 50px;

			border-left: 3px solid gray;
		}
	}
}